body {
    margin: 0;
    padding: 0;
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: $primary-font;
}
a {
    @include link-styles;
}

.NYI {
    text-decoration: line-through !important;
}

.content-wrapper {
    margin: 40px;
}
