#header {
    display: flex;
    position: relative;
    padding: 20px 20px;
    justify-content: space-between;
    background-color: $secondary-background-color;
    margin-bottom: 120px;
    #center-header {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -20px);
        background: rgb(42, 96, 65);
        background: linear-gradient(
            90deg,
            rgba(42, 96, 65, 0) 0%,
            rgba(33, 39, 56, 1) 30%,
            rgba(33, 39, 56, 1) 70%,
            rgba(42, 96, 65, 0) 100%
        );
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 100px;
            img {
                height: 100px;
                color: white;
            }
            span {
                color: $secondary-text-color;
                padding-top: 20px;
                // font-family: 'Praise', cursive;
                font-family: $title-font;
                font-size: 2.5em;
            }
        }
    }
}

.nav-bar {
    @include nav-bar-styles;
    a {
        @include link-styles;
    }
}
