@mixin nav-bar-styles {
    display: flex;
    gap: 30px;
    @content;
}

@mixin link-styles {
    color: $secondary-text-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        @content;
    }
    @content;
}
