$primary-background-color: #212738;
$secondary-background-color: #2a6041;
$tertiary-background-color: #3587a4;

$primary-text-color: #85ffc7;
$secondary-text-color: #bad7f2;

$primary-accent-color: #8b95c9;
$secondary-accent-color: #d5b0ac;
$tertiary-accent-color: #a690a4;

$primary-font: "Libre Franklin", sans-serif;
$title-font: "Marck Script", cursive;
