#yarn-detail-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    #grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #left-side-grid {
            #stats-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
