#yarn-detail-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    #admin-wrapper {
        display: grid;
        gap: 20px;
    }

    #grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #left-side-grid {
            .image-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                .carousel-wrapper {
                    position: relative;
                    width: 90%;
                    button.add-image-btn {
                        position: absolute;
                        bottom: 0;
                        z-index: 10;
                    }
                    .carousel {
                        display: flex;
                        justify-content: center;
                        .carousel-inner {
                            width: 75%;
                        }
                    }
                }
            }
            #brand-name {
                font-size: 1.75em;
            }
            #yarn-name {
                font-size: 1.5em;
            }
            #stats-grid {
                .attribute {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        #right-side-grid {
            #store-links-wrapper {
                table {
                    color: $primary-text-color;
                }
                .link-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}
