#yarn-detail-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    #admin-wrapper {
        display: grid;
        gap: 20px;
    }

    #grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #left-side-grid {
            #brand-name {
                font-size: 1.75em;
            }
            #yarn-name {
                font-size: 1.5em;
            }
            #stats-grid {
                .attribute {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        #right-side-grid {
            #store-links-wrapper {
                .link-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}
